/build
config.h
Makefile
Makefile.in
stamp-h
stamp-h[0-9]*
config.cache
config.*
compile
configure
configure.lineno
cmatrix.spec
depcomp
install-sh
missing
aclocal.m4
autom4te.cache/
.deps
*.tab.c
TAGS
ID
GTAGS GRTAGS GSYMS GPATH tags
cscope.out
cscope.in.out
cscope.po.out
cscope.files
cmatrix
cmatrix.exe
*.o
*.core
CMakeCache.txt
CMakeFiles/
